#base_layout {
  position: relative;
  min-height: 100dvh;
  .base_layout_header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #5a5a5a;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    > div {
      margin: 0 auto;
    }
  }
  .base_layout_footer {
    position: sticky;
    top: 100dvh;
    width: 100%;
    background-color: #fff;
    color: #5a5a5a;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
  }
}
